.header {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
    background-color: #131921;   
    position: sticky;
    z-index: 100;
}

.header-logo {
    width: 85px;
    object-fit: contain;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.search-box {
    height: 35px;
    width: 100%;
    padding: 12px;
    border: none;
}

.search-icon {
    min-height: 35px;
    min-width: 35px;
    padding: 4px;
    background-color: #f5b351;
    cursor: pointer;
}

.search-icon:hover {
    background-color: lawngreen;
}

.header-nav {
    display: flex;
    gap: 10px;
    color: white;
    justify-content: space-evenly;
}

.option {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    text-decoration: none;
}

.lineOne {
    font-size: 11px;
}

.lineTwo {
    font-size: 14px;
    font-weight: 700;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-icon {
    color: white;
}

.item-count {
    color: white;
    margin: 0 10px;
}

.menu {
    background-color: transparent;
    display: none;
}

.menu >img{
    width: 25px;
}

@media screen and (max-width: 500px) {
    .header-nav {
        display: none;
    }

    .menu {
        display: block;
    }
}